
.alphabetContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.alphabetButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel {
  background: white;
}